#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buttonContainer {
  margin-top: 20px;
  display: flex;
}

#results {
  font-size: 2rem;
  margin-top: 100px;
}

#score {
  font-size: 2rem;
  margin-top: 20px;
}

.selection:hover {
  cursor: pointer;
  transition: 100ms;
  transform: scale(1.2);
}
